*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 20px 40px;
    background-color: rgba(225, 212, 201, 1);
    overflow-x: hidden;
    position: relative;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.nav-logo{
    height: 60px;
}
.nav-logo img {
    height: 100%;
}
.nav-links{
    width: 100%;
    max-width: 1188px;
    display: flex;
    justify-content: center;
}
.nav-links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 40px;
}
li a{
    text-decoration: none;
    color: rgba(64, 63, 61, 1);
    font-weight: 600;
    font-size: 16px;
}
.nav-menu{
    width: 72px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.nav-menu:hover{
    border-bottom: 2px solid rgba(64, 63, 61, 1);
}
.header-main{
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.header-main img{
    width: 100%;
    border-radius: 40px;
}
.header-text{
    position: absolute;
    width: 100%;
    max-width: 530px;
    top: 100px;
    left: 100px;
}
h1{
    color: rgba(225, 212, 201, 1);
    font-weight: 600;
    font-size: 72px;
    margin-bottom: 40px;
}
.header-text p{
    color: rgba(225, 212, 201, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-style: regular;
    margin-bottom: 40px;
}
.header-text button{
    background-color: rgba(225, 212, 201, 1);
    width: 200px;
    height: 64px;
    border-radius: 100px;
    color: rgba(64, 63, 61, 1);
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#favorite-coffee{
    margin-top: 100px;
}
h2{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: rgba(64, 63, 61, 1);
}
.coffee-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}
.coffee-cards h3{
    font-weight: 600px;
    font-size: 24px;
    line-height: 125%;
    color: rgba(64, 63, 61, 1);
}
.coffee-cards p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 150%;
    color: rgba(64, 63, 61, 1);
    margin: 16px 0;
}
.swipe-left, .swipe-right{
    border: 1px solid rgba(102, 95, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coffee-card{
    width: 480px;
}
.coffee-card img{
    width: 100%;
    margin: 40px 0 20px 0;
}
.coffee-slider{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 4px;
}
.sliders{
    display: flex;
    width: 144px;
    justify-content: space-between;
    height: 100%;
}
#about{
    margin-top: 100px;
}
.about-images{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(660px, 2fr));
    grid-auto-rows: 430px;
    gap: 40px;
}
.about-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.firstImg,
.fourthImg {
  grid-row: span 2;
}
.secondImg,
.thirdImg {
  grid-row: span 1;
}
#mobile-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-app-text{
    width: 100%;
    max-width: 630px;
}
.mobile-app-text h2{
    text-align: start
}
.mobile-app-text p{
    margin: 40px 0;
    color:rgba(64, 63, 61, 1)
}
.download-buttons{
    display: flex;
    gap: 20px;
}
.download-buttons button{
    all: unset;
    width: 200px;
    height: 64px;
    border: 1px solid rgba(102, 95, 85, 1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}
.app-store-text span, .google-play-text span{
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}
.app-store-text h4, .google-play-text h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
footer{
    background-color: rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
}
.footer-logo-and-socials h2{
    color: rgba(225, 212, 201, 1);
    width: 100%;
    max-width: 530px;
    text-align: start;
}
.footer-socials{
    display: flex;
    width: 204px;
    justify-content: space-between;
    margin-top: 40px;
}
.footer-socials button{
    all: unset;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(193, 182, 173, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.footer-contact-us{
    width: 530px;
    height: 186px;
}
.footer-contact-us h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
}
.footer-contact-us ul{
    list-style-type: none;
}
.footer-contact-us ul li{
    display: flex;
    align-self: center;
    gap: 8px;
    margin-bottom: 20px;
}
.footer-contact-us ul li a{
    color: rgba(193, 182, 173, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.burgerBtns{
    display: none;
}
.mobileSidebar {
    display: none;
    flex-direction: column;
    padding-top: 60px;    
    position: fixed;
    right: 0;
    width: 100%;
    height: 924px;
    transform: translateX(100vw);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}
.mobileSidebar ul{
    padding: 0;
    list-style-type: none;
}
.sidebar-nav-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    width: 100%;
    padding: 0;
}
.mobileSidebar .sidebar-nav-links li a {
    list-style: none;
    color: rgba(64, 63, 61, 1);
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    width: 100%;
}
.sidebar-nav-menu{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.sidebar-nav-menu a{
    color: rgba(64, 63, 61, 1);
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
}
.menu-icon{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    body{
        margin: 20px 40px 40px 40px;
    }
    .header-text{
        position: absolute;
        width: 100%;
        max-width: 530px;
        top: 100px;
        left: 60px;
    }
    h1{
        font-size: 72px;
        font-weight: 600;
        line-height: 105%;
    }
    .header-main img{
        width: 100%;
        max-width: 688px;
        height: 644px;
        border-radius: 40px;
        object-fit: cover;
    }
    .burgerBtns{
        width: 44px;
        height: 44px;
        border: rgba(102, 95, 85, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        border: 1px solid rgba(102, 95, 85, 1);
        border-radius: 100px;
        transition: 3 ease;
    }
    .burgerBtns span{
        height: 0;
    }
    .burgerBtns.activeBurger .upperLine{
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }
    .burgerBtns.activeBurger .lowerLine{
        transform: rotate(-45deg);
        position: relative;
        top: -5px;
    }
    .nav-links, .nav-menu{
        display: none;
    }
    .mobileSidebar{
        display: flex;
        position: fixed;
        top: 100px;
        right: 0;
        width: 100%;
        height: 924px;
        background-color: rgba(225, 212, 201, 1);
        color: rgba(64, 63, 61, 1);
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1000;
    }
    header{
        margin-bottom: 20px;
    }
    .about-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(688px, 2fr));
        grid-auto-rows: 590px;
    }
    .about-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .secondImg, .thirdImg{
        display: none;
    }
    .firstImg,
    .fourthImg {
        grid-row: span 1;
    }
    #mobile-app{
        margin-top: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mobile-app-image{
        margin: 100px 0;        
    }
    footer{
        flex-wrap: wrap;
        padding: 100px 60px;
    }
    .footer-logo-and-socials{
        max-width: 568px;
        width: 100%;
    }
    .footer-contact-us{
        margin-top: 100px;
    }
    .mobileSidebar.open {
        transform: translateX(0);
    }
}

@media screen and (max-width: 380px) {
    body{
        margin: 16px 16px 40px 16px;
    }
    .header-main img{
        object-fit: cover;
        max-width: 348px;
        height: 552px;
        width: 100%;
    }
    .header-text{
        top: 60px;
        left: 16px
    }
    h1{
        font-size: 42px;
        line-height: 115%;
    }
    h2{
        font-size: 32px;
        line-height: 125%;
    }
    .swipe-left, .swipe-right{
        display: none;
    }
    .coffee-card img{
        max-width: 348px;
        width: 100%;
        height: 348px;
        height: 100%;
    }
    #about h2{
        text-align: left !important
    }
    .about-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(348px, 2fr));
        grid-auto-rows: 590px;
    }
    .about-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .secondImg, .thirdImg{
        display: none;
    }
    .firstImg,
    .fourthImg {
        grid-row: span 1;
    }
    .download-buttons{
        flex-wrap: wrap;
    }
    .mobile-app-image{
        width: 100%;
        max-width: 348px;
        height: 100%;
        height: 348px;
    }
    .mobile-app-image img{
        width: 100%;
        max-width: 348px;
        height: 100%;
        height: 348px;
    }
    footer{
        padding: 60px 16px;
    }
    .mobileSidebar.open {
        transform: translateX(0);
    }
}