*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}
body{
    margin: 20px 40px;
    background-color: rgba(225, 212, 201, 1);
    overflow-x: hidden;
    position: relative;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.nav-logo{
    height: 60px;
}
.nav-logo img {
    height: 100%;
}
.nav-links{
    width: 100%;
    max-width: 1188px;
    display: flex;
    justify-content: center;
}
.nav-links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 40px;
}
li a{
    text-decoration: none;
    color: rgba(64, 63, 61, 1);
    font-weight: 600;
    font-size: 16px;
}
.nav-menu{
    width: 72px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.nav-menu:hover{
    border-bottom: 2px solid rgba(64, 63, 61, 1);
}
.header-main{
    width: 100%;
    position: relative;
    margin-top: 20px;
    height: 644px;
}
.header-main video{
    width: 100%;
    max-width: 1360px;
    height: 644px;
    border-radius: 40px;
    object-fit: cover;
}
.header-text{
    position: absolute;
    width: 100%;
    max-width: 530px;
    top: 100px;
    left: 100px;
}
h1{
    color: rgba(225, 212, 201, 1);
    font-weight: 600;
    font-size: 72px;
    margin-bottom: 40px;
}
.menu-h1{
    color: rgba(64, 63, 61, 1);
    text-align: center;
    max-width: 800px;
    width: 100%;
}
.header-text p{
    color: rgba(225, 212, 201, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-style: regular;
    margin-bottom: 40px;
}
.header-text button{
    background-color: rgba(225, 212, 201, 1);
    width: 200px;
    height: 64px;
    border-radius: 100px;
    color: rgba(64, 63, 61, 1);
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header-text button span{
    text-decoration: none;
    color: rgba(64, 63, 61, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
}
.header-text button svg{
    display: none;
}
.header-text button:hover svg{
    display: block;
}
#favorite-coffee{
    margin-top: 100px;
    height: 799px;
}
h2{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: rgba(64, 63, 61, 1);
}
.coffee-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.coffee-cards h3{
    font-weight: 600px;
    font-size: 24px;
    line-height: 125%;
    color: rgba(64, 63, 61, 1);
}
.coffee-cards p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 150%;
    color: rgba(64, 63, 61, 1);
    margin: 16px 0;
}
.swipe-left, .swipe-right{
    border: 1px solid rgba(102, 95, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hoverLeftSwipe, .hoverRightSwipe{
    display: none;
}
.swipe-left:hover, .swipe-right:hover{
    background-color: rgba(102, 95, 85, 1);
    cursor: pointer;
}
.swipe-left:hover .hoverLeftSwipe, .swipe-right:hover .hoverRightSwipe{
    display: block;
}
.swipe-left:hover .defaultLeftSwipe, .swipe-right:hover .defaultRightSwipe{
    display: none;
}
.coffee-card{
    width: 480px;
    transition: all 0.5s ease;
    display: flex;
    overflow: hidden;
    position: relative;
}
.product-card{
    transition: all 0.5s ease ease-in-out;
    width: 100%;
    flex-shrink: 0;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.product-card .active {
    transform: scale(1.05);
}
.coffee-card img{
    width: 100%;
    margin: 40px 0 20px 0;
}
.coffee-slider{
    display: flex;
    justify-content: center;
    height: 4px;
}
.sliders{
    display: flex;
    width: 144px;
    justify-content: space-between;
    height: 100%;
}
#about{
    margin: 100px 0;
    height: 1325px;
}
.about-images{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 430px 120px 430px;
    gap: 40px;
}
.about-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.about-images img:hover{
    transform: scale(0.9);
}
.firstImg{
    grid-row: span 2;
}
.fourthImg {
    grid-row: span 2;
}
.secondImg,
.thirdImg {
  grid-row: span 1;
}
#mobile-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
    height: 630px;
}
.mobile-app-text{
    width: 100%;
    max-width: 630px;
}
.mobile-app-text h2{
    text-align: start
}
.mobile-app-text p{
    margin: 40px 0;
    color:rgba(64, 63, 61, 1)
}
.onHover{
    display: none;
}
.download-buttons{
    display: flex;
    gap: 20px;
}
.download-buttons button{
    all: unset;
    width: 184px;
    height: 64px;
    border: 1px solid rgba(102, 95, 85, 1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 0 0 0 20px;
}
.download-buttons button:hover{
    background-color: rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
}
.download-buttons button:hover .app-store-text span, .download-buttons button:hover .app-store-text strong{
    color: rgba(225, 212, 201, 1);
}
.download-buttons button:hover .google-play-text span, .download-buttons button:hover .google-play-text strong{
    color: rgba(225, 212, 201, 1);
}
.download-buttons button:hover .onHover{
    display: block;
}
.download-buttons button:hover .default{
    display: none;
}
.app-store-text, .google-play-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}
.app-store-text span, .google-play-text span{
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    color: rgba(64, 63, 61, 1);
}
.app-store-text strong, .google-play-text strong{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: rgba(64, 63, 61, 1);
}


.product-list-container{
    display: flex;
    justify-content: center;
}
.product-options{
    display: flex;
    gap: 16px;
}
.product-options button{
    all: unset;
    border: 1px solid rgba(193, 182, 173, 1);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(64, 63, 61, 1);
    line-height: 150%;
    padding: 11px 16px 11px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.product-icon{
    width: 30px;
    height: 30px;
    background-color: rgba(193, 182, 173, 1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-options button{
    cursor: pointer;
}
.product-options button:hover{
    background-color: rgba(102, 95, 85, 1);
    border: 1px solid rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
}
.active{
    background-color: rgba(102, 95, 85, 1) !important;
    border: 1px solid rgba(102, 95, 85, 1) !important;
    color: rgba(225, 212, 201, 1) !important;
}
.product-options button:hover .product-icon{
    background-color: rgba(225, 212, 201, 1);
}
.active .product-icon{
    background-color: rgba(225, 212, 201, 1);
}
.active .size, .active .additInd{
    background-color: rgba(225, 212, 201, 1);
    color: rgba(64, 63, 61, 1);
}
.menu-items{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin: 40px 0 100px 0;
}
.menu-item{
    width: 310px;
    height: 506px;
    border: 1px solid rgba(193, 182, 173, 1);
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
}
.menu-item:hover img{    
    transform: scale(1);
    
}
.menu-item-text{
    padding: 20px;
}
.menu-item-img{
    width: 310px;
    height: 310px;
    border-radius: 40px;
    overflow: hidden;
}
.menu-item-img img{
    width: 100%;
    height: 100%;
    
    transition: transform 0.3s ease;
    transform: scale(1.1);
    object-fit: cover;
}
.menu-item-title{
    height: 114px;
}
.menu-item-price{
    margin-top: 12px;
}
.menu-item-text h3{
    font-size: 24px;
    line-height: 125%;
    font-weight: 600;
    color: rgba(64, 63, 61, 1);
    margin-bottom: 12px;
}
.menu-item-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.modal{
    z-index: 1000;
    background-color: rgba(64, 63, 61, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 800px;
    background-color: rgba(225, 212, 201, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 16px;
}
.modal-content img{
    width: 310px;
    height: 310px;
    border-radius: 40px;
    object-fit: cover;
}
.modal-text{
    width: 458px;
    padding-left: 20px;
}
.modal-text h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 12px;
    color: rgba(64, 63, 61, 1);
}
.modal-text p, .modal-text label{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
    color: rgba(64, 63, 61, 1);
}
.sizes .modal-text-option-btns, .additives .modal-text-option-btns{
    all: unset;
    border: 1px solid rgba(193, 182, 173, 1);
    font-size: 16px;
    color: rgba(64, 63, 61, 1);
    border-radius: 100px;
    height: 46px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
}
.modal-text-option-btns:hover{
    background-color: rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
    border: 1px solid rgba(102, 95, 85, 1);
}
.modal-text-option-btns:hover .size, .modal-text-option-btns:hover .additInd{
    background-color: rgba(225, 212, 201, 1);
    color: rgba(64, 63, 61, 1);
    border: 1px solid rgba(225, 212, 201, 1);
}
.size, .additInd{
    width: 30px;
    height: 30px;
    background-color: rgba(193, 182, 173, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 8px;
}
.sizes, .additives{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.modal-price{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.modal-price h3{
    width: 100%;
    max-width: 209px;
}
.modal-price-text{
    text-align: end;
}
.modal-disclaimer{
    font-size: 10px;
    color: rgba(64, 63, 61, 1);
    font-weight: 600px;
    line-height: 140%;
    height: 52px;
    gap: 8px;
    border-top: 1px solid rgba(193, 182, 173, 1);
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.modal-disclaimer span{
    width: 100%;
    max-width: 414px;
}
.add-to-cart-btn{
    all: unset;
    border: 1px solid rgba(102, 95, 85, 1);
    color: rgba(64, 63, 61, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 414px;
    height: 44px;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;
}
.add-to-cart-btn:hover{
    background-color: rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
}
.loadmore-container{
    display: none;
}
.close-modal-button{
    all: unset;
    position: absolute;
    top: -22px;
    right:0;
    transform: translate(0, -50%);
    width: 44px;
    height: 44px;
    border: 1px solid rgba(193, 182, 173, 1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

footer{
    background-color: rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
}
.footer-logo-and-socials h2{
    color: rgba(225, 212, 201, 1);
    width: 100%;
    max-width: 530px;
    text-align: start;
}
.footer-socials{
    display: flex;
    width: 204px;
    justify-content: space-between;
    margin-top: 40px;
}
.footer-socials button{
    all: unset;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(193, 182, 173, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.twitterHover, .instagramHover, .facebookHover{
    display: none;
}
.footer-socials button:hover{
    background-color: rgba(225, 212, 201, 1);
    color: rgba(64, 63, 61, 1);
    border: 1px solid rgba(225, 212, 201, 1);
}
.footer-socials button:hover .twitterHover, .footer-socials button:hover .instagramHover, .footer-socials button:hover .facebookHover{
    display: block;
}
.footer-socials button:hover .twitterDefault, .footer-socials button:hover .instagramDefault, .footer-socials button:hover .facebookDefault{
    display: none;
}
.footer-contact-us{
    width: 100%;
    max-width: 530px;
    height: 186px;
}
.footer-contact-us h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
}
.footer-contact-us ul{
    list-style-type: none;
    width: auto;
}
.footer-contact-us ul li{
    display: flex;
    align-self: center;
    gap: 8px;
    margin-bottom: 20px;
}
.footer-contact-us ul li a{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 4px;
}
.footer-contact-us ul li a:hover{
    border-bottom: 2px solid rgba(225, 212, 201, 1);
}
.footer-contact-us ul li a{
    color: rgba(193, 182, 173, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
}
.burgerBtns{
    display: none;
    cursor: pointer;
}
.mobileSidebar {
    display: none;
    flex-direction: column;
    padding-top: 60px;    
    position: fixed;
    right: 0;
    max-width: 100%;
    height: 924px;
    transform: translateX(100vw);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}
.mobileSidebar ul{
    padding: 0;
    list-style-type: none;
}
.sidebar-nav-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    width: 100%;
    padding: 0;
}
.mobileSidebar .sidebar-nav-links li a {
    list-style: none;
    color: rgba(64, 63, 61, 1);
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
}
.sidebar-nav-menu{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.sidebar-nav-menu a{
    color: rgba(64, 63, 61, 1);
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
}
.menu-icon{
    width: 40px;
    height: 40px;
}

.mobile-app-image{
    width: 100%;
    max-width: 630px;
    height: 100%;
    height: 630px;
    display: flex;
    justify-content: center;
}
.cartDisplay{
    width: 38px;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}
.cartAndMenu{
    display: flex;
    max-width: 142px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}
.productsAmount{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgba(64, 63, 61, 1);
}
.login-page{
    margin: 20px 0 100px 0;
}
.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.login-input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
}
.input-group{
    display: block;
    max-width: 400px;
}
.input-group label{
    font-size: 16px;
    font-weight: 400;
    color: rgba(64, 63, 61, 1);
    display: block;
    margin-bottom: 4px;
}
.input-group input{
    all: unset;
    border: 1px solid rgba(193, 182, 173, 1);
    width: 100%;
    height: 56px;
    color: rgba(161, 168, 179, 1);
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    border-radius: 12px;
    color: rgba(161, 168, 179, 1);
    font-size: 16px;
    padding-left: 12px;
    box-sizing: border-box;
}
.login-form button{
    display: block;
    all: unset;
    max-width: 200px;
    width: 100%;
    height: 44px;
    border-radius: 100px;
    width: 200;
    gap: 8px;
    opacity: 1;
    padding-top: 10px 78px 10px 78px;
    border-radius: 100px;
    border: 1px solid rgba(102, 95, 85, 1);

    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(64, 63, 61, 1);
    margin-top: 40px;
    cursor: pointer;
}

.register-page{
    margin: 20px 0 100px 0;
}
.register-form{
    margin: 40px 0;
}
.register-input-wrapper{
    display: flex;
    gap: 24px;
}
.firstRow{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.firstRow .input-group{
    width: 400px;
}
.secondRow .input-group{
    max-width: 260px;
    width: 100% !important;
    margin-bottom: 40px;
}
.paying-options{
    max-width: 508px;
    width: 100%;
    height: 66px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.paying-options-wrapper{
    display: flex;
    gap: 24px;
}
.paying-options label{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(64, 63, 61, 1);
}
.pay-option{
    display: flex;
    align-items: center;
    gap: 12px;
}
.pay-option input{
    all: unset;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(102, 95, 85, 1);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}
.pay-option input:checked{
    all: unset;
    width: 16px;
    height: 16px;
    border: 5px solid rgba(102, 95, 85, 1);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}
.register-form button{
    all: unset;
    max-width: 200px;
    width: 100%;
    height: 44px;
    border: 1px solid rgba(102, 95, 85, 1);
    color: rgba(64, 63, 61, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 auto;
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #7b3f00;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.hidden {
  display: none;
}


.cart-total{
    display: flex;
    justify-content: space-between;
}
.cart-total span{
    max-width: 646px;
    width: 100%;
    font-size: 24px;
    color: rgba(64, 63, 61, 1);
    font-weight: 600;
    line-height: 125%;
}
.total-amount{
    text-align: end;
}
.cart-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
}
.cart-actions-wrapper{
    display: flex;
    justify-content: center;
}
.cart-actions button{
    all: unset;
    border: 1px solid rgba(102, 95, 85, 1);
    color: rgba(64, 63, 61, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    height: 44px;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@media screen and (min-width: 1441px) {
    body{
        margin: 20px auto;
        width: 1360px;
    }
}
@media screen and (max-width: 768px) {
    body{
        margin: 20px 40px 40px 40px;
    }
    .header-text{
        position: absolute;
        width: calc(100% - 120px);
        top: 100px;
        left: 60px;
    }
    h1{
        font-size: 72px;
        font-weight: 600;
        line-height: 105%;
    }
    .header-main img{
        width: 100%;
        max-width: 688px;
        height: 644px;
        border-radius: 40px;
        object-fit: cover;
    }
    .burgerBtns{
        width: 44px;
        height: 44px;
        border: rgba(102, 95, 85, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        border: 1px solid rgba(102, 95, 85, 1);
        border-radius: 100px;
        transition: 3 ease;
        z-index: 1003;
    }
    .burgerBtns span{
        height: 0;
    }
    .burgerBtns.activeBurger .upperLine{
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }
    .burgerBtns.activeBurger .lowerLine{
        transform: rotate(-45deg);
        position: relative;
        top: -5px;
    }
    .nav-links, .nav-menu{
        display: none;
    }
    .sidebar-wrapper {
        position: absolute;
        max-width: 688px;
        width: 100%;
        right: 0;
        width: 0;
        height: 924px;
        overflow: hidden;
        z-index: 1000;
        transition: width 0.4s ease-in-out;
    }
    
    .sidebar-wrapper.open {
        width: 100%;
    }
    
    .mobileSidebar{
        display: flex;
        position: relative;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: rgba(225, 212, 201, 1);
        color: rgba(64, 63, 61, 1);
        transform: none;
    }
    header{
        margin-bottom: 20px;
    }
    .about-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-auto-rows: 590px;
    }
    .about-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .secondImg, .thirdImg{
        display: none;
    }
    .firstImg,
    .fourthImg {
        grid-row: span 1;
    }
    #mobile-app{
        margin: 100px 0;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .mobile-app-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    footer{
        flex-wrap: wrap;
        padding: 100px 60px;
    }
    .footer-logo-and-socials{
        max-width: 568px;
        width: 100%;
    }
    .footer-contact-us{
        margin-top: 100px;
    }
    .mobileSidebar.open {
        transform: translateX(0);
    }
    .loadmore-container{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        cursor: pointer;
    }
    .loadmore-btn{
        all: unset;
        border: 1px solid rgba(102, 95, 85, 1);
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 670px) {
    h1{
        font-size: 62px;
    }
}
@media screen and (max-width: 610px) {
    h1{
        font-size: 52px;
    }
    .mobile-app-image{
        max-width: 530px;
        height: 530px;
    }
}
@media screen and (max-width: 540px) {
    .header-text{
        top: 70px;
        left: 40px
    }
    .mobile-app-image{
        max-width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 500px) {
    h1{
        font-size: 48px;
    }
}
@media screen and (max-width: 500px) {
    .header-text{
        position: absolute;
        width: calc(100% - 60px);
    }
}
@media screen and (max-width: 400px) {
    h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 380px) {
    body{
        margin: 16px 16px 40px 16px;
    }
    .header-main img{
        object-fit: cover;
        max-width: 348px;
        height: 552px;
        width: 100%;
    }
    .header-text{
        top: 60px;
        left: 16px
    }
    h1{
        font-size: 42px;
        line-height: 115%;
    }
    h2{
        font-size: 32px;
        line-height: 125%;
    }
    .swipe-left, .swipe-right{
        display: none;
    }
    .coffee-card img{
        max-width: 348px;
        width: 100%;
        height: 348px;
        height: 100%;
    }
    #about h2{
        text-align: left !important
    }
    .about-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(348px, 2fr));
        grid-auto-rows: 590px;
    }
    .about-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .secondImg, .thirdImg{
        display: none;
    }
    .firstImg,
    .fourthImg {
        grid-row: span 1;
    }
    .download-buttons{
        flex-wrap: wrap;
    }
    .mobile-app-image{
        width: 100%;
        max-width: 348px;
        height: 100%;
        height: 348px;
    }
    .mobile-app-image img{
        width: 100%;
        max-width: 348px;
        height: 100%;
        height: 348px;
    }
    footer{
        padding: 60px 16px;
    }
    .mobileSidebar.open {
        transform: translateX(0);
    }
    .header-text{
        width: 90%;
    }
}