*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 20px 40px;
    background-color: rgba(225, 212, 201, 1);
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.nav-logo{
    height: 60px;
}
.nav-logo img {
    height: 100%;
}
.nav-links{
    width: 100%;
    max-width: 1188px;
    display: flex;
    justify-content: center;
}
.nav-links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 40px;
}
li a{
    text-decoration: none;
    color: rgba(64, 63, 61, 1);
    font-weight: 600;
    font-size: 16px;
}
.nav-menu{
    width: 72px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.nav-menu:hover{
    border-bottom: 2px solid rgba(64, 63, 61, 1);
}

h1{
    color: rgba(64, 63, 61, 1);
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 40px;
    text-align: center;
    max-width: 800px;
    width: 100%;
}
.product-list-container{
    display: flex;
    justify-content: center;
}
.product-options{
    display: flex;
    gap: 16px;
}
.product-options button{
    all: unset;
    border: 1px solid rgba(193, 182, 173, 1);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(64, 63, 61, 1);
    line-height: 150%;
    padding: 11px 16px 11px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.product-icon{
    width: 30px;
    height: 30px;
    background-color: rgba(193, 182, 173, 1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-options button{
    cursor: pointer;
}
.product-options button:hover{
    background-color: rgba(102, 95, 85, 1);
    border: 1px solid rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
}
.active{
    background-color: rgba(102, 95, 85, 1) !important;
    border: 1px solid rgba(102, 95, 85, 1) !important;
    color: rgba(225, 212, 201, 1) !important;
}
.product-options button:hover .product-icon{
    background-color: rgba(225, 212, 201, 1);
}
.active .product-icon{
    background-color: rgba(225, 212, 201, 1);
}
.active .size, .active .additInd{
    background-color: rgba(225, 212, 201, 1);
    color: rgba(64, 63, 61, 1);
}
.menu-items{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin: 40px 0 100px 0;
}
.menu-item{
    width: 310px;
    height: 506px;
    border: 1px solid rgba(193, 182, 173, 1);
    border-radius: 40px;
    cursor: pointer;
}
.menu-item-text{
    padding: 20px;
}
.menu-item img{
    width: 310px;
    height: 310px;
    border-radius: 40px;
}
.menu-item-title{
    height: 114px;
}
.menu-item-price{
    margin-top: 12px;
}
.menu-item-text h3{
    font-size: 24px;
    line-height: 125%;
    font-weight: 600;
    color: rgba(64, 63, 61, 1);
    margin-bottom: 12px;
}
.menu-item-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.modal{
    z-index: 1000;
    background-color: rgba(64, 63, 61, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 800px;
    background-color: rgba(225, 212, 201, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 16px;
}
.modal-content img{
    width: 310px;
    height: 310px;
    border-radius: 40px;
    object-fit: cover;
}
.modal-text{
    width: 458px;
    padding-left: 20px;
}
.modal-text h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 12px;
    color: rgba(64, 63, 61, 1);
}
.modal-text p, .modal-text label{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
    color: rgba(64, 63, 61, 1);
}
.sizes .modal-text-option-btns, .additives .modal-text-option-btns{
    all: unset;
    border: 1px solid rgba(193, 182, 173, 1);
    font-size: 16px;
    color: rgba(64, 63, 61, 1);
    border-radius: 100px;
    height: 46px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
}
.modal-text-option-btns:hover{
    background-color: rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
    border: 1px solid rgba(102, 95, 85, 1);
}
.modal-text-option-btns:hover .size, .modal-text-option-btns:hover .additInd{
    background-color: rgba(225, 212, 201, 1);
    color: rgba(64, 63, 61, 1);
    border: 1px solid rgba(225, 212, 201, 1);
}
.size, .additInd{
    width: 30px;
    height: 30px;
    background-color: rgba(193, 182, 173, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 8px;
}
.sizes, .additives{
    display: flex;
    gap: 8px;
}
.modal-price{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.modal-price h3{
    width: 100%;
    max-width: 209px;
}
.modal-price-text{
    text-align: end;
}
.modal-disclaimer{
    font-size: 10px;
    color: rgba(64, 63, 61, 1);
    font-weight: 600px;
    line-height: 140%;
    height: 52px;
    gap: 8px;
    border-top: 1px solid rgba(193, 182, 173, 1);
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.modal-disclaimer span{
    width: 100%;
    max-width: 414px;
}
.close-modal-btn{
    all: unset;
    border: 1px solid rgba(102, 95, 85, 1);
    color: rgba(64, 63, 61, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 414px;
    height: 44px;
    border-radius: 100px;
    margin-top: 20px;
}
footer{
    background-color: rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
}
.footer-logo-and-socials h2{
    color: rgba(225, 212, 201, 1);
    width: 100%;
    max-width: 530px;
    text-align: start;
    font-size: 60px;
    line-height: 125%;
}
.footer-socials{
    display: flex;
    width: 204px;
    justify-content: space-between;
    margin-top: 40px;
}
.footer-socials button{
    all: unset;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(193, 182, 173, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.footer-contact-us{
    width: 530px;
    height: 186px;
}
.footer-contact-us h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
}
.footer-contact-us ul{
    list-style-type: none;
}
.footer-contact-us ul li{
    display: flex;
    align-self: center;
    gap: 8px;
    margin-bottom: 20px;
}
.footer-contact-us ul li a{
    color: rgba(193, 182, 173, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.burgerBtns{
    display: none;
}
.mobileSidebar {
    display: none;
    flex-direction: column;
    padding-top: 60px;    
    position: fixed;
    right: 0;
    width: 100%;
    height: 924px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}
.mobileSidebar ul{
    padding: 0;
    list-style-type: none;
}
.mobileSidebar.open {
    transform: translateX(0);
}
.sidebar-nav-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    width: 100%;
    padding: 0;
}

.mobileSidebar .sidebar-nav-links li a {
    list-style: none;
    color: rgba(64, 63, 61, 1);
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    width: 100%;
}
.sidebar-nav-menu{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.sidebar-nav-menu a{
    color: rgba(64, 63, 61, 1);
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
}
.menu-icon{
    width: 40px;
    height: 40px;
}
.loadmore-container{
    display: none;
}
@media screen and (max-width: 768px) {
    body{
        margin: 20px 40px 40px 40px;
    }
    .header-text{
        position: absolute;
        width: 100%;
        max-width: 530px;
        top: 100px;
        left: 60px;
    }
    h1{
        font-size: 72px;
        font-weight: 600;
        line-height: 105%;
    }
    .header-main img{
        width: 100%;
        max-width: 688px;
        height: 644px;
        border-radius: 40px;
        object-fit: cover;
    }
    .burgerBtns{
        width: 44px;
        height: 44px;
        border: rgba(102, 95, 85, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        border: 1px solid rgba(102, 95, 85, 1);
        border-radius: 100px;
        transition: 3 ease;
    }
    .burgerBtns span{
        height: 0;
    }
    .burgerBtns.activeBurger .upperLine{
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }
    .burgerBtns.activeBurger .lowerLine{
        transform: rotate(-45deg);
        position: relative;
        top: -5px;
    }
    .nav-links, .nav-menu{
        display: none;
    }
    .mobileSidebar{
        display: flex;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: rgba(225, 212, 201, 1);
        color: rgba(64, 63, 61, 1);
    }
    header{
        margin-bottom: 20px;
    }
    .about-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(688px, 2fr));
        grid-auto-rows: 590px;
    }
    .about-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .secondImg, .thirdImg{
        display: none;
    }
    .firstImg,
    .fourthImg {
        grid-row: span 1;
    }
    #mobile-app{
        margin-top: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mobile-app-image{
        margin: 100px 0;        
    }
    footer{
        flex-wrap: wrap;
        padding: 100px 60px;
    }
    .footer-logo-and-socials{
        max-width: 568px;
        width: 100%;
    }
    .footer-contact-us{
        margin-top: 100px;
    }
    .loadmore-container{
        display: flex;
        justify-content: center;
    }
    .loadmore-btn{
        all: unset;
        border: 1px solid rgba(102, 95, 85, 1);
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
    }
    .menu-items{
        margin: 40px 0;
    }
    .loadmore-container{
        margin-bottom: 100px;
    }
    .footer-logo-and-socials h2{
        font-size: 60px;
        line-height: 125%;
    }
    .modal-content{
        width: 688px;
        padding: 16px;
    }
    .modal-text{
        width: 326px;
        height: 100%;
    }
    .modal-text label{
        display: block;
        margin-bottom: 8px;
        margin-top: 20px;
    }
    .sizes{
        flex-wrap: wrap;
        margin: 0;
    }
    .modal-text-option-btns{
        margin: 0 !important;
    }
    .additives{
        flex-wrap: wrap;
        margin: 0;
    }
}